<div>
	<div data-dojo-type="dijit/layout/BorderContainer" style="min-width: 1010px; width: 90%; height: 100%; margin-left:auto;
margin-right:auto;" data-dojo-props="gutters:false" data-dojo-attach-point="rootContainer">
	    <div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'top', style:'z-index: 5;', class: 'shadow'">
	    	<div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="class:'topPanel'">
	        	<img src="scidrive/resources/interface/sd_logo.png" class="logo"/>
				<!-- Toolbar -->
				<div data-dojo-attach-point="toolbar" data-dojo-type="dijit.Toolbar" data-dojo-props="class:'topToolbar'">
					<button data-dojo-type="dijit.form.Button" type="button" data-dojo-attach-point="refreshButton" data-dojo-attach-event="onClick:_refresh" data-dojo-props="iconClass:'toolbarButton refreshToolbarButton', showLabel: false">Refresh
					</button>
					<button data-dojo-type="dijit.form.Button" type="button" data-dojo-attach-point="mkdirButton" data-dojo-attach-event="onClick:_mkdirDialog" data-dojo-props="iconClass:'toolbarButton mkdirToolbarButton', showLabel: false">Create folder...
					</button>
					<button data-dojo-type="dijit.form.Button" type="button" data-dojo-attach-point="mkfileButton" data-dojo-attach-event="onClick:_mkfileDialog" data-dojo-props="iconClass:'toolbarButton mkfileToolbarButton', showLabel: false">Create file...
					</button>
					<button data-dojo-type="dijit.form.Button" type="button" data-dojo-attach-point="setCasJobsCredentialsButton" data-dojo-attach-event="onClick:_showProcessManagerDialog" data-dojo-props="iconClass:'toolbarButton settingsToolbarButton', showLabel: false">Configure metadata extractors...
					</button>
					<button data-dojo-type="dijit.form.Button" type="button" data-dojo-attach-point="setCasJobsCredentialsButton" onclick="window.open('http://skyserver.sdss3.org/CasJobs', target='_blank')" data-dojo-props="iconClass:'toolbarButton casjobsToolbarButton', showLabel: false">Open CasJobs/MyDB
					</button>
					<button data-dojo-type="dijit.form.Button" type="button" data-dojo-attach-point="sharesButton" data-dojo-attach-event="onClick:_sharesDialog" data-dojo-props="iconClass:'toolbarButton linkToolbarButton', showLabel: false">Shares...
					</button>
					<button data-dojo-type="dijit.form.Button" type="button" data-dojo-attach-point="secondPanelButton" data-dojo-attach-event="onClick:_addPanel" data-dojo-props="iconClass:'toolbarButton secpanToolbarButton', showLabel: false">Second panel
					</button>
					<button data-dojo-type="dijit.form.Button" type="button" data-dojo-attach-point="jobsPanelButton" data-dojo-attach-event="onClick:_showJobsManagerDialog" data-dojo-props="iconClass:'toolbarButton jobsToolbarButton', showLabel: false">Jobs
					</button>
					<img src="scidrive/resources/blank.gif" style="width:30px; height: 1px;"/>
					<button data-dojo-type="dijit.form.Button" type="button" data-dojo-attach-point="helpButton" data-dojo-attach-event="onClick:_help" data-dojo-props="class:'toolbarShadedButton'">Help
					</button>
					<img src="scidrive/resources/blank.gif" style="width:5px; height: 1px;"/>
					<button data-dojo-type="dijit.form.Button" type="button" data-dojo-attach-point="logoutButton" data-dojo-attach-event="onClick:_logout" data-dojo-props="class:'toolbarShadedButton'">Log out
					</button>
				</div>
	    	</div>
			<div dojoType="dijit.ProgressBar" style="height: 4px; margin: 0px;" data-dojo-attach-point="userLimitBar"></div>
			<div data-dojo-attach-point="toolbar2" data-dojo-type="dijit.Toolbar" data-dojo-props="class:'bottomToolbar'">
				<img src="scidrive/resources/interface/dirs.png" style="height: 80%"/>
				<span data-dojo-attach-point="pathSelect2" style="font-size: 1.2em; font-weight: 600; color: #326eb7; position: relative; bottom:5;">
				</span>
				<select data-dojo-attach-point="loginSelect" data-dojo-type="dijit.form.Select" data-dojo-props="class:'toolbarDropdown'" style="float: right; width: 260px;">
				</select>
				<!--input data-dojo-attach-point="searchInput" type="text" data-dojo-type="dijit/form/TextBox" data-dojo-props="trim:true" style="float: right; width: 260px; margin-top: 10px;">
				</input>
				<span data-dojo-attach-point="searchButton" data-dojo-type="dijit/form/Button" data-dojo-attach-event="onClick:_search" style="float: right; margin-top: 15px;">Search</span-->
			</div>
	    </div>
	    <div data-dojo-props="region:'center'" data-dojo-type="dijit/layout/ContentPane" data-dojo-attach-point="panel1contentpane">
	    </div>
	    <div data-dojo-props="region:'right'" data-dojo-type="dijit/layout/ContentPane" data-dojo-attach-point="panel2contentpane">
	    </div>
	</div>
	<div style="overflow: hidden; position: absolute; top:0; width: 100%; z-index: -1; margin-left:auto; margin-right:auto;" class="shadow">
	   	<div class="topPanel topshadow" style="height: 90px; width: 100%;"></div>
	   	<div style="height: 8px; width: 100%; /*background: #bcbec0;*/background:transparent;"></div>
	   	<div class="bottomPanel" style="height: 45px; width: 100%;"></div>

	</div>
    <div class="dijitHidden">
		<span data-dojo-type="dijit.Tooltip" data-dojo-attach-point="userLimitTooltip" data-dojo-props="showDelay: 0"></span>
		<div data-dojo-attach-point="helpDialog" data-dojo-type="dojox.widget.Dialog" sizeToViewport="true" data-dojo-props="href:'scidrive/templates/help.html'" title="SciDrive user guide" showTitle="true" draggable="false">
		</div>

	</div><!-- hidden div -->

	<div data-dojo-type="dijit.layout.ContentPane" data-dojo-attach-point="fileuploads" data-dojo-props="class:'fileUploadPanel'">
	</div>


</div>